.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

.landingPageContainer nav {
  padding-inline: 2rem;
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2{
  font-size: 2rem;
  font-weight: 900;
}

.landingPageContainer nav .navlist{
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}
